body {
    background: #161616;
    overflow: hidden;
}

button {
    width: 254.34px;
    height: 67.05px;
    color: #FFC7B6;
    font-size: 1.771vw;
    background-color: #D45106;
}

button:hover {
    color: #fff;
}

.return {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    top: 635px;
    right: 378px;
    position: absolute;
    width: 625px;
    height: 167.13px;
}

.back {
    background: url('../images/404.svg');
    background-size: cover;
    width: 143.648vw;
    height: 113.698vw;
    margin-top: -23.281vw;
    margin-left: -14.844vw;
}