body {
    background: #161616;
    overflow: hidden;
    position: relative;
}

a {
    font-family: Halvar-Medium;
    font-size: 1.771vw;
    color: white;
    text-decoration: none;
}

button {
    width: 13.247vw;
    height: 3.492vw;
    color: #FFC7B6;
    font-size: 1.771vw;
    background-color: #D45106;
}

button:hover {
    color: #fff;
}

.return {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    top: 33.073vw;
    right: 21.688vw;
    position: absolute;
    width: 32.552vw;
    height: 8.705vw;
}

.back {
    background: url(../images/404.svg);
    background-size: cover;
    position: absolute;
    width: 126.292vw;
    height: 91.146vw;
    top: -19.281vw;
    right: -9.844vw;
}