.form {
    position: relative;
    margin: 0 auto;
    width: 74.792vw;
    height: 50.156vw;
}

.form > div {
    position: absolute;
}

.rec_violet {
    width: 23.6%;
    height: 35.142592592592592%;
    background: #5D00D2;
    left: 12.418229166666666%;
    top: 4.8564814814814814%;
}

.rec_pink {
    position: absolute;
    width: 34.655208333333334%;
    height: 55.76203703703705%;
    background: #E8038D;
    left: 34.068229166666665%;
    top: 0;
}

.rec_orange {
    width: 40.74635416666667%;
    height: 36.391666666666666%;
    background: #D83806;
    left: 31.559375%;
    top: 44.047222222222224%;
}

.round_blue {
    width: 35.398229166666665%;
    height: 52.787962962962965%;
    background: #1729CE;
    border-radius: 50%;
    right: 0.7890625%;
    top: 33.2%;
}

.heart {
    background: url("../images/hert_form.svg");
    background-size: cover;
    width: 44.4928125%;
    height: 56.07064814814815%;
    right: 0;
    top: -6.532870370370371%;
}

.rhomb {
    background: url("../images/rhomb_form.svg");
    background-size: cover;
    width: 61.10040625%;
    height: 87.61462962962963%;
    left: -8.01%;
    top: 9.371856%;
}

.tr {
    background: url("../images/tri_form.svg");
    background-size: cover;
    width: 25.926406250000003%;
    height: 37.915925925925924%;
    left: 9.5%;
    bottom: 0;
}

.form_desc {
    left: 28.586vw;
    top: 9.983vw;
    position: absolute;
    width: 44.305vw;
    height: 37.881vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.orange_block{
    width: 44.305vw;
    height: 8.159vw;
    margin-top: 3.802vw;
    display: flex;
    justify-content: space-between;
}

.rec_red_f {
    background-color: #D40606;
    width: 44.305vw;
    height: 8.159vw;
    margin-top: 1.736vw;
}

.pink_block {
    width: 44.305vw;
    height: 8.159vw;
    margin-top: 1.736vw;
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: #D83806;
    width: 21.284vw;
    height: 4.375vw;
    margin-top: 1.736vw;
    font-family: Halvar-Medium;
    font-size: 1.771vw;
    color: #FFC7B6;
}

.button:hover {
    color: white;
}

.head_text {
    text-align: center;
}

.orange_block > div {
    width: 21.284vw;
    height: 8.159vw;
    background-color: #D83806;
}

.p_name {
    margin-top: 1.007vw;
    margin-left: 1.007vw;
}

.input_name {
    width: 15.104vw;
    height: 2.778vw;
    margin-top: 1.007vw;
    margin-left: 1.007vw;
    background: #F2B182;
    border: none;
    font-family: Halvar-Medium;
    color: white;
    font-size: 1.406vw;
    outline: none;
}

.rec_red_f > p {
    margin-top: 1.007vw;
    margin-left: 1.007vw;
}

.rec_red_f > input {
    width: 38.124vw;
    height: 2.778vw;
    margin-top: 1.007vw;
    margin-left: 1.007vw;
    background: #F28F82;
    border: none;
    font-family: Halvar-Medium;
    color: white;
    font-size: 1.406vw;
    outline: none;
}

.pink_block > div {
    width: 21.284vw;
    height: 8.159vw;
}

.rec_pink1_f > input {
    background: #EF8FB1;
}

.rec_pink2_f > input {
    background: #FF9DD7;
}

.rec_pink2_f {
    background-color: #E8038D;
}

.rec_pink1_f {
    background-color: #E80356;
}

.round_dop {
    display: none;
}
.dop_1 {
    display: none;
}
.dop_2 {
    display: none;
}
.dop_3 {
    display: none;
}