body {
    overflow: hidden;
}

.move {
    position: relative;
    overflow: hidden;
    height: 100vw;
}

.round_form1 {
    position: absolute;
    width: 26.979vw;
    height: 26.979vw;
    background-color: #1729CE;
    border-radius: 50%;
    top: 17.630vw;
    left: 32.349vw;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

.round_form1 > p, .heart_game_1 > p {
    font-size: 2.191vw;
    opacity: 0;
    transition: .5s;
}


.round_form1:hover > p, .heart_game_1:hover > p {
    opacity: 100%;
}


.heart_game_1 > p {
    transform: rotate(75.39deg);
    margin-top: -2vw;
    margin-left: -5vw;
}

.round_form2 {
    position: absolute;
    width: 20.677vw;
    height: 20.677vw;
    background-color: #DF9300;
    border-radius: 50%;
    top: 2.278vw;
    right: 8.014vw;
}

.round_form3 {
    position: absolute;
    width: 19.792vw;
    height: 19.792vw;
    background-color: #E8038D;
    border-radius: 50%;
    top: 39.182vw;
    right: 18.938vw;
}

.tri_game_1 {
    position: absolute;
    top: 2.813vw;
    left: -2.549vw;
    width: 16.776vw;
    height: 17.695vw;
    transform: rotate(18deg);
    background: url("../images/tri_game_1.svg");
    background-size: cover;
}

.tri_game_2 {
    position: absolute;
    top: 12.857vw;
    left: -7.866vw;
    width: 22.409vw;
    height: 19.407vw;
    transform: rotate(-29.35deg);
    background: url("../images/tri_game_2.svg");
    background-size: cover;
}

.tri_game_3 {
    position: absolute;
    top: 4.847vw;
    left: 15.566vw;
    width: 16.306vw;
    height: 14.121vw;
    transform: rotate(45.2deg);
    background: url("../images/tri_game_3.svg");
    background-size: cover;
}

.club_game_1 {
    position: absolute;
    top: 3.188vw;
    left: 26.005vw;
    width: 25.683vw;
    height: 26.183vw;
    transform: rotate(162.97deg);
    background: url("../images/club_game_1.svg");
    background-size: cover;
    transition: hover 0.5s;
}

.sdvs {
    top: 30.954vw;
    left: -5.783vw;
}

#spade_game_1 {
    position: absolute;
    width: 31.589vw;
    height: 34.530vw;
    transform: rotate(-103.05deg);
    background: url("../images/spade_game_1.svg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#spade_game_1 > a {
    margin-top: 7vw;
    margin-left: -8vw;
    font-size: 5vw;
    opacity: 0;
    transform: rotate(103.05deg);
}

#spade_game_1:hover {
    background: url("../images/club_game_1_img.svg");
    background-size: cover;
}

.club_game_2 {
    position: absolute;
    top: 37.819vw;
    left: 25.019vw;
    width: 25.683vw;
    height: 26.183vw;
    transform: rotate(-144.84deg);
    background: url("../images/club_game_2.svg");
    background-size: cover;
}

.heart_game_1 {
    position: absolute;
    top: 14.492vw;
    right: 18.911vw;
    width: 21.967vw;
    height: 23.163vw;
    transform: rotate(-75.39deg);
    background: url("../images/heart_game_1.svg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.spade_game_2 {
    position: absolute;
    top: 28.690vw;
    right: -18.301vw;
    width: 19.235vw;
    height: 21.026vw;
    transform: rotate(1.33deg);
    background: url("../images/spade_game_2.svg");
    background-size: cover;
}

.diamond_game_1 {
    position: absolute;
    top: 31.910vw;
    right: 32.093vw;
    width: 28.670vw;
    height: 40.159vw;
    transform: rotate(-22.14deg);
    background: url("../images/diamond_game_1.svg");
    background-size: cover;
}

.diamond_game_2 {
    position: absolute;
    top: -1.073vw;
    right: -26.682vw;
    width: 45.67vw;
    height: 40.159vw;
    transform: rotate(33.44deg);
    background: url("../images/diamond_game_2.svg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.diamond_game_2 > a {
    margin-top: 12vw;
    margin-left: 0vw;
    font-size: 5vw;
    opacity: 0;
}

.diamond_game_2:hover {
    background: url("../images/over_di.svg");
    background-size: cover;
}